/*************************************************
    GENERAL STYLES
 *************************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    border: .5px solid red;
}






/************************************************
    UTILITIES
************************************************/
section{
    padding: 30px;
}

.container{
    display: flex;
    flex-direction: column;
}

.bg-purple{
    background-color: #9792e4;
}





/************************************************
    SECTIONS TO DELETE
************************************************/
nav{
    height: 75px;
}


.big.card{
    height: 610px;
}

.card{
    height: 360px;
}

section.dev{
    height: 1400px;
}

div.app-dev{
    height: 615px;
}

.testimonial-card{
    height: 500px;
}

.benefit-card{
    height: 400px;
}



/************************************************
    SITE SECTIONS
************************************************/
/* navbar section */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    background-color: #0084fd;
    color: white;
}
/* end navbar */

/* downloas section */
section.download{
    gap: 20px;
}

.card{
    align-items: flex-start;
    justify-content: space-around;

    padding: 30px;

    border-radius: 20px;
    background-color: #b5ddff;
}
/* end download section */

/* app developement section */
div.plan{
    justify-content: space-around;
    align-items: flex-start;
    
    height: 50%;
}

div.app-dev{
    justify-content: space-around;
    align-items: center;

    margin-top: 20px;
    
    border-radius: 45px;
    
    background-color: white;
}
/* end app developement section */

/* testimonial section */
section.testimonials{
    justify-content: center;
    gap: 35px;
}

.testimonial-card{
    justify-content: space-around;
    align-items: center;

    border-radius: 45px;
}
/* end testimonial section */

/* benefit section */
.benefit{
    gap: 30px;
}

section div h1{
    text-align: center;
}

.benefit-card{
    align-items: flex-start;
    justify-content: space-around;

    border-radius: 18px;
    background-color: white;
}
/* end benefit section */

/* get started section */
.center{
    align-items: center;
    gap: 45px;
}
/* end get started section */

/* footer section */
footer{
    background-color: #333333;
}

.footer-text{
    font-size: .85em;
    padding: 35px;
    text-align: center;
}
/* end footer section */





/************************************************
    RESPONSIVE SECTION
************************************************/
@media screen and (min-width: 768px){

}

@media screen and (min-width: 992px){

}

@media screen and (min-width: 1200px){

}