/*************************************************
    GENERAL STYLES
 *************************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    /* border: .5px solid red; */
}






/************************************************
    UTILITIES
************************************************/
section{
    padding: 1.9em;
}

.container{
    display: flex;
    flex-direction: column;
}

.bg-purple{
    background-color: #9792e4;
}

.column{
    display: flex;
    flex-direction: column;
}


button{
    color: black;
    background-color: white;
    border: none;
    padding: .5em 1em;
    font-size: 1em;
    cursor: pointer;
    border-radius: 18px;
}

h2{
    font-size: 20px;
    font-weight: 700;
}

div.photo{
    height: 200px;
    width: 200px;
}

div img.photo-testimonial{
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.footer-width{
    max-width: 560px;
    margin: auto;
}
/************************************************
    SITE SECTIONS
************************************************/
/* navbar section */
header{
    background-color: #0084fd;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    color: white;
}

img{
    display: block;
    width: 100%;
}

.fa-solid.fa-bars{
    font-size: 2em;
    color: white;
}

/* nav hide section */
.nav-link li{
    padding: calc(25px / 2);

    text-decoration: none;
    list-style: none;
}

ul.nav-link{
    display: none;
}
/* end navbar */

/* downloas section */
section.download{
    gap: 1.25em;
}

.big.card{
    padding: 1.9em 1.9em 0;
}

.big .card{
    padding: 0;
}

.download .big .card div h2{
    text-align: left;
}

.card{
    align-items: flex-start;
    gap: 2.2em;

    padding: 1.9em;

    border-radius: 20px;
    background-color: #b5ddff;
}

.fa-solid{
    font-size: 4.5em;
    color: #0084fd;
}

.card div h2{
    font-size: 20px;
    color: #0084fd;
}

.card div p{
    color: #5a6e7f;
    font-size: 0.85em;
    line-height: 1.6em;
}

div button.store{
    padding: 0.5em 2.3em;

    letter-spacing: 0.2em;

    color: white;
    background-color: #0084fd;
}

.second.card,
.general.card{
    align-items: center;

    text-align: center;
}
/* end download section */

/* app developement section */
div.plan{
    align-items: flex-start;
}

.dev .plan div img{
    margin-bottom: 4.7em;
}

.dev .plan div h2{
    font-size: 2em;

    margin-bottom: 2em;

    color: white;
}

.dev .plan div p{
    line-height: 1.6em;
    color: white;
}

div.app-dev{
    align-items: center;
    gap: 1.9em;

    margin-top: 30px;
    padding: 1.9em;
    
    border-radius: 45px;
    
    background-color: white;
}

.try-app div h2{
    font-size: 1.4em;
    color: black;
}

.app-dev div p{
    text-align: center;

    font-style: italic;
    line-height: 1.6em;
}

.circle{
    position: relative;
    height: 3em;
    width: 3em;

    border-radius: 50%;
}

.app-dev div i{
    position: absolute;

    top: 30%;
    left: 34%;

    font-size: 1.3em;

    color: black;
}
/* end app developement section */

/* testimonial section */
section.testimonials{
    justify-content: center;
    gap: 35px;

    text-align: center;
}

.testimonials div h2{
    font-size: 2em;

    color: #9792e4;
}

.testimonials div p{
    font-weight: 400;
    line-height: 1.6em;

    padding: 0em .8em;
}

.testimonial-card{
    align-items: center;
    gap: 1em;

    padding: 1.9em;

    border-radius: 45px;
}

div.text-testimonial div p{
    padding: 0;
    
    margin-bottom: 1em;
    
    color: white;
}

div.text-testimonial div p i{
    font-size: 1em;

    color: white;
}

div.text-testimonial div strong{
    letter-spacing: 0.2em;
    color: white;
}
/* end testimonial section */

/* benefit section */
.benefit{
    gap: 30px;
}

section div h2{
    font-size: 2em;

    color: white;

    text-align: center;
}

.benefit-card{
    align-items: flex-start;

    padding: 1.9em;

    border-radius: 18px;
    background-color: white;
}

.purple-color{
    color: #9792e4;
}

div.purple-color{
    font-size: 2.5em;
    font-weight: 700;

    margin-bottom: 36px;
}

h2.purple-color{
    font-size: 1.2em;
    font-weight: 700;

    margin-bottom: 20px;
}

.benefit-card div p{
    line-height: 1.6em;

    margin-bottom: 25px;

    color: #737373;
}

.benefit-card div button{
    padding: 0.5em 3em;

    font-weight: 700;
    letter-spacing: 0.2em;

    color: white;
    background-color: #9792e4;
}
/* end benefit section */

/* about us section */
.about-left h2{
    text-align: start;

    color: #9792e4;

    margin: 0.7em 0em 1.5em;
}

.about-left p{
    line-height: 1.6em;

    margin-bottom: 3em;
}

.about-right div.photo{
    margin-bottom: 1.3em;
    position: relative;
}

.about-right div.photo i{
    position: absolute;

    top: 0;
    right: 0;

    color: #9792e4;
}

.about-right div h2{
    font-size: 28px;

    margin-bottom: 1.3em;

    text-align: start;

    color: #9792e4;
}

.about-right div button{
    padding: 0.4em 1em;

    font-size: 0.6em;
    color: white;
    
    background-color: #9792e4;
}
/* end about us section */

/* get started section */
.center{
    align-items: center;
    gap: 45px;

    padding: 4em 1.9em;

    color: white;
    text-align: center;
}

.get{
    letter-spacing: 0.2em;
    color: #d5d4f4;
}

.center div h2{
    font-weight: 700;
    font-size: 1.9em;
}

.center div h3{
    font-weight: 700;
    font-size: 2.8em;

    color: #fdc15f;
}

.center div p{
    line-height: 1.6em;
}

.center div button{
    padding: 1em 4em;

    border-radius: 30px;

    color: #9792e4;
}

.center div a{
    color: white;
}
/* end get started section */

/* footer section */
footer{
    background-color: #333333;
}

.footer-text{
    font-size: .85em;
    padding: 35px;
    text-align: center;
}
/* end footer section */





/************************************************
    RESPONSIVE SECTION
************************************************/
@media screen and (min-width: 768px){
    .container{
        flex-direction: row;
        flex-wrap: wrap;
    }

    section.download{
        justify-content: space-between;
        gap: -20px;
    }
       
    .big.card{
        width: calc(100% / 3 * 2 - 25px / 2);
    }

    img.phone{
        width: 57%;
    }

    div.second{
        width: calc(100% / 3 - 25px * 2 / 3);
        height: auto;
    }

    div.general{
        width: calc(100% / 3 - 25px * 2 / 3);
    }

    .container.testimonial-card{
        justify-content: space-between;
    }

    .container .photo{
        width: 30%;
    }

    .container .text-testimonial{
        width: 66%;

        text-align: start;
    }

    div.mini-card{
        width: calc(100% / 2 - 30px / 2);
        padding-bottom: 30px;
    }

    .column .space{
        justify-content: space-between;
    }

    .about-left{
        width: 55%;
        margin-right: 10%;
    }

    .about-right{
        width: 35%;
    }
    
    .about-right div.photo{
        height: 200px;
        width: 200px;
    }
    
    .about-right div h2{
        padding-right: 1.2em;
    }
}

@media screen and (min-width: 992px){
    .menu-link{
        display: none;
    }

    ul.nav-link{
        display: flex;
        align-items: center;
    }

    .big.card.column{
        padding: 0;
    }
       
    .big .card{
        padding: 1.9em;
    }

        
    .card div h2{
        font-size: 24px;
    }


    /* width doubled because the 
    box occupies 2/3 of the total width */
    .big .column.card{
        width: 120%;
    }

    div img.phone{
        width: 80%;
    }

    .img-box{
        height: 100%;
        display: flex;
        align-items: flex-end;
    }

    .big.column{
        flex-direction: row;
        padding: 1em 2em;
    }

    .column.dev{
        flex-direction: row;
        gap: 1.6em;

        justify-content: center;

        padding: 5.5em 1.9em 3em;
    }

    .plan.column{
        width: 50%;
    }

    .dev .try-app{
        width: 40%;
        align-items: flex-end;
    }

    .app-dev{
        height: 70%;
    }

    .app-dev div img{
        width: 60%;
        margin: auto;
    }

    .container div.photo img{
        max-width: 200px;
        margin: auto;
    }

    div.mini-card{
        width: calc(98% / 3 - 30px / 2);
    }

    .about-left{
        width: 65%;
        margin-right: 10%;
    }

    .about-right{
        width: 25%;
    }
}

@media screen and (min-width: 1200px){
    .max-width{
        max-width: 1200px;
        margin: auto;
    }
}