/*************************************************
    GENERAL STYLES
 *************************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    border: .5px solid red;
}


/************************************************
    UTILITIES
************************************************/

/************************************************
    SECTIONS TO DELETE
************************************************/
nav{
    height: 75px;
}


.big.card{
    height: 610px;
}

.card{
    height: 360px;
}
/************************************************
    SITE SECTIONS
************************************************/
/* navbar section */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    background-color: #0084fd;
    color: white;
}
/* end navbar */

/* downloas section */
section.download{
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 30px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    padding: 30px;

    border-radius: 20px;
    background-color: #b5ddff;
}
/* end download section */

/* app developement section */

/* end app developement section */

/* footer section */
footer{
    background-color: #333333;
}

.footer-text{
    font-size: .85em;
    padding: 35px;
    text-align: center;
}
/* end footer section */



/************************************************
    RESPONSIVE SECTION
************************************************/
@media screen and (min-width: 768px){

}

@media screen and (min-width: 992px){

}

@media screen and (min-width: 1200px){

}